@tailwind base;
@tailwind components;
@tailwind utilities;

.wiggle {
  animation: animate 4s linear infinite;
  transition: all 5s ease-in-out;
}

.wiggle2 {
  animation: animate 5s linear infinite;
  transition: all 3s ease-in-out;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(0); /* Initial and final position, no translation */
  }
  25%,
  75% {
    transform: translateY(-5px); /* Move up less */
  }
  50% {
    transform: translateY(-10px); /* Move up more */
  }
}
